.table {
  &-root {
    overflow-x: auto;
    width: 100%;
  }

  &-body {
    min-width: 700px;
  }
}

.label {
  width: auto;
  display: inline;
  border-radius: 5px;
  background-color: #00C853;
  color: #fff;
  padding: 3px;
  margin: 2px;
  font-size: 12px;
}
